/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */
	@import url("fonts/stylesheet.css");
	
	body {
		font-family:'RobotoRegular', Arial, sans-serif;	
		color:#777;	 
	}
	
	h1, h2,h3,h4,h5,h6 { 
		font-family:'Oswald', sans-serif;
		font-weight:400;
		color:#cc0000;
		text-transform:uppercase;
	}
	
	
	
	 #logo { 

	 }
	 
	 /* the topbar */
	 #header { 
		padding-top:2em;
		padding-bottom:2em;
		border-bottom:1px solid #ccc;
	 }
	 

	 #nav > li {
		display: block;
		float: left;
	}
	
	#nav li { 
		list-style:none;
		
	}
	
	#nav a {
		display: block;
		font-size: 1.375em;
		font-weight: 100;
		line-height: 72px;
		padding-left:1em;
		padding-right:1em;
		text-decoration: none;
		color:#666;
	}
	
	#nav a:hover, #nav li.active a {
		font-family:'Oswald', sans-serif;
		text-transform:uppercase;
		color:#cc0000;
		border-bottom:5px solid #cc0000;
	}
	
	#welcome { 
		background:#333;
		color:white;
		overflow:hidden;
	}
	
	#welcome .row { 
		overflow:visible;
	}
	
	#welcome h1 {
		font-size:2.5em;
		color:#ffcc00;
	} 
	
	#welcome-image { 
		padding:2em;
		padding-top:3em;
	}
	
	#join-us { 
		padding-top:3em;
		
	}
	
	#who-we-are { 
		padding-top:2em;
	}
	p { 
		line-height:1.4;
	}
		 
	
	 /* default */
	 a:link { 
		color:#0F6499;
		text-decoration:none;
	 }
	 
	 a:hover { 
		color:#cc0000;
		text-decoration:none;
	 }
	 
	 h1 { 
		font-size: 2.5em;
	 }
	

	#welcome { 
		padding-top:0;
	}
	
	footer {
		border-top: 1px solid #CCCCCC;
		padding-bottom:2em;
	} 
	
	#monogram { 
		text-align:right;
	}
	
	hr {
	  border: 3px solid #cc0000;
	  clear: both;
	  margin: 0 0 1em;
	  height: 0;
	}
	
	/* slider */
	.flexslider { 
		background:#333;
		border:none;
		border-radius:0px;
	}
	
	.flex-caption { 
		margin:0px;
	}
	
	
	/* social*/
	#social { 
		background:#0F6499;
		color:white;
		padding-top:1.25em;
		padding-bottom:1.25em;
	}
	
	#social h2 { 
		color:white;
	}
	
	/* gallery stuff */
	#gallery { 
		padding-top:2em;
	}
	ul.gallery li img {
		margin: 0 auto;
	}
	ul.album li img {
		margin: 0 auto;
	}
	ul.gallery li .image_container {
		background: none repeat scroll 0 0 whiteSmoke;
		height: 80px;
		margin-bottom: 5px;
		overflow: hidden;
		text-align: center;
		width: 130px;
	}
	ul.album li .image_container {
		background: none repeat scroll 0 0 whiteSmoke;
		height: 80px;
		margin-bottom: 5px;
		overflow: hidden;
		text-align: center;
		width: 125px;
	}
	ul.gallery li {
		background: none repeat scroll 0 0 whiteSmoke;
		float: left;
		height: 150px;
		list-style: none outside none;
		margin: 5px;
		padding: 5px;
		width: 130px;
	}
	ul.album li {
		background: none repeat scroll 0 0 whiteSmoke;
		border: 1px solid #CCCCCC;
		float: left;
		height: 80px;
		list-style: none outside none;
		margin: 5px;
		padding: 5px;
		width: 125px;
	}
	ul.gallery li a {
		display: block;
		font-weight: bold;
	}
	

	#gallery div.pagination .left , #gallery-album div.pagination .left {
		float: left;
	}
	#gallery div.pagination .next, #gallery-album div.pagination .left {
		float: right;
	}
	
	/* officers */
	
	.officer { 
		padding-bottom:5em;
	}
	
	.officer img { 
		padding:4px;
		border:1px solid #ccc;
	}
	
	.officer h3 { 
		display:inline;
	}
	
	.officer .pos { 
		float:right;
	}
	
	#officers-header { 
		background:#cc0000;
	}
	
	#officers { 
		padding-top: 2em;
	}

	/* events page */
	
	#events { 
		padding-top: 2em; 
		padding-bottom:2.5em;
	}
	
	#events-header { 
		background:#0F6499;
		text-align:center;
		padding-top: 2em;
		padding-bottom: 2em;
	}
	#events-header h1 { 
		font-size:8em;
		color:white;
		padding-top:0.5em;
	}
	
	.facebook { 
		text-align:center;
		margin:0 auto;
	}
	
	.fb-like { 
		padding-top: 1em;
		padding-bottom:1em;
	}
	
	#events-header .twitter { 
		margin:0 auto;
	}
	.twitter-follow-button  {
		width:100px !important;
	}
	
	.tweet, .query {
	color: #777;
}

	.tweet_list {
		list-style: none;
		margin: 0;
		padding: 0;
		overflow-y: hidden;
		background-color: #F9F9F9;
	}
	
		.tweet_list .awesome,
		.tweet_list .epic {
			text-transform: uppercase;
		}
		
		.tweet_list li {
			overflow-y: auto;
			overflow-x: hidden;
			padding: 0.5em;
			list-style-type: none;
			border-top:1px solid #ccc;
		}
		
			.tweet_list li a {
				color: #cc0000;
			}
		
		.tweet_list .tweet_even {
			background-color: white;
		}
		
		.tweet_list .tweet_avatar {
			padding-right: .5em; float: left;
		}
		
			.tweet_list .tweet_avatar img {
				vertical-align: middle;
			}
	
	#contacts { 
		padding-bottom:3em;
	}
	
	#about-header { 
		background:#333;
		
	}
	
	#about-1 , #about-2{ 
		margin-top:1.25em;
		margin-bottom:2.5em;
	}
	
	#about-header-2 { 
		border-top:1px solid #ccc;
		background:#FFF;
		border-bottom:1px solid #ccc;
	}
	

/* ============================= */
/* ! Smaller Screens		     */
/* ============================= */	
	
@media only screen and (max-width: 1023px) {

	body { 
		 font-size: 0.8em;
		line-height: normal;
	}
	

}
	

/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

	
}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/

}